/*------------------------- Hero Section -------------------------*/
.about-us-hero {
  background: url("../images/hero/vas-soshnikov-YA2LVz-HvpE-unsplash.jpg") center center no-repeat;
  background-size: cover;
  min-height: 70vh;
  position: relative;
}

/*------------------------- About Us Page -------------------------*/
