@import "imports/links.css";

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
.logo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: #0a3641;
}

.product-list h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav {
  margin-left: 25px;
  display: none;
  position: fixed;
  top: 45px;
  background-color: #fff;
  z-index: 1000;
  right: 0px;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
  padding: 20px 30px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

footer {
  background-color: #5f9fad;
  color: #0a3641;
}

img {
  width: 100%;
}
/*------------------------- header Section -------------------------*/

.header-logo {
  max-width: 100px;
}

/*------------------------- Footer Section -------------------------*/

.footer {
  background-color: #5f9fad;
  border-top: 1px solid #eee;
  padding: 50px 0;
  width: cover;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.footer-logo {
  height: 136px;
  width: auto;
  margin: 70px auto;
}

.footer nav {
  background-color: #5f9fad;
  position: static;
  display: block;
  margin: 50px auto;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.footer-link {
  margin: 15px auto;
}

.footer-social {
  list-style: none;
  text-align: center;
  margin: 50px 90px 50px 50px;
}

.fa-brands {
  color: #0a3641;
}
