/*------------------------- Product Specific Page -------------------------*/
.jacket-general {
  display: flex;
  max-width: 1000px;
  flex-direction: row;
  margin: auto;
  margin-bottom: 50px;
}
.jacket-general > * {
  flex: 1;
}

.product-image {
  border: 2px solid #0a3641;
  padding: 10px;
}

img {
  width: 100%;
}

.jacket__details {
  background-color: #f3f0f0;
  padding: 0px 30px;
}
.jacket__details a {
  display: block;
  margin: auto;
}
.jacket-specific__price {
  font-size: 1.5em;
}

.jacket-image_thumbnails {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 5px;
}
